app = "academy-api"

[build]
builder = "paketobuildpacks/builder:base"

[env]
NODE_ENV = "production"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 1
